@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.3);
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5rem;
}

.formInput:not(:placeholder-shown) {
  box-shadow: black !important;
}
