@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.3);
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5rem;
}

.formInput:not(:placeholder-shown) {
  box-shadow: black !important;
}

.perspective {
  transform: perspective(1000px);
}

.delayed-1 {
  animation-delay: 0ms;
}

.delayed-2 {
  animation-delay: 150ms;
}

.delayed-3 {
  animation-delay: 300ms;
}
/* 
* {
  user-select: none;
  -webkit-user-drag: none;
} */

.aniBg {
  background-image: linear-gradient(to right, #08285c 0%, #660833 100%);
  background-size: 500%;
  backdrop-filter: blur(30px);
  animation: animationBg 20s infinite alternate linear;
}

@keyframes animationBg {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
